joblib>=0.14
matplotlib>=3.1
numpy>=1.18
scipy>=1.4
spectral>=0.19
crism_ml @ git+https://github.com/Banus/crism_ml.git@master#egg=crism_ml
h5py
matplotlib
n2n4m @ git+https://github.com/rob-platt/n2n4m.git@n2n4m_torchless#egg=n2n4m
networkx
numpy
onnx
onnxruntime
pandas
Pillow
pyinstaller==6.11.1
scipy